.searchArea {
  display: flex;
  align-items: center;
  gap: .5rem;

  padding: .3rem;

  background: rgba(0, 0, 0, .7);
}

.searchArea label {
  display: flex;
  align-items: center;
}

.search:hover, .search:focus {
  transform: scale(1.1);
}

.input {
  color: #fff;
  background: initial;
  width: 15rem;
}
